/*DUDAS:
1) Como hago un menú hamburguesa?
2) Como hago un menú hamburguesa adentro de un menú normal?
3) No andan las background images
4) Dudas sobre como organizar con Bootstrap - no me queda centrado*/

/*font-family: 'Oswald', sans-serif;
font-family: 'Days One', sans-serif;*/

*{font-family: 'Oswald', sans-serif;}

/*--------------------------------------KEYFRAMES-----------------------------------*/

@keyframes camara{
	0%{background-position: 0;}
	100%{background-position: -768px;}
}

@keyframes moving{
	0%{transform: translateX(0px);}
	50%{transform: translateX(380px);}
	100%{transform: translateX(0px);
	}
}

@keyframes ben {
	0% { transform: rotate(0);}
	100% { transform: rotate(1turn);}
}

@keyframes rated-r{
	0% {transform: scale(1); opacity: 0.5;}
	50% {transform: scale(1.2); opacity: 1}
	100% {transform: scale(1); opacity: 0.5;}
}
/*---------------------------------------GENERALES-----------------------------------*/


header {background-color: black; padding-top: 15px; text-align: center; height: 200px;}

header img {text-align: center;}

nav {text-align: center; padding-top: 20px;}

nav ul {list-style-type: none; text-align: center; }

nav ul li {display: inline; padding: 10px;}

nav ul li a, nav ul li span {color: white; font-size: 25px;}

nav ul li a:hover {text-decoration: none; color: green;}

/*desplegable*/

nav ul li ul {position: absolute; left: 40%; top: 12.9%; text-decoration: none; display: none; z-index: 1;}

nav ul li ul a {text-align: center;}

nav ul li:hover ul {background-color: #344324; color:#000000; display: block; position: absolute;}

nav ul li:hover ul {display: block; border: none;}

nav ul li ul li {display: block;}

nav ul li ul li a:hover {text-decoration: none; color: black;}

footer {background-color: black; padding-top: 20px; display: flex; justify-content: center; flex-direction: row; bottom: 0%;}

.white {color: white; padding: 5px;}

.center {text-align: center;}

.margin {margin-left: 50%;}

.titulo {font-size: 48px; color: green;}


/*---------------------------------------INDEX-----------------------------------*/


.fondo-index {background-image: url(../img/poster.jpg);background-size: cover;}

.cosas{display: flex;justify-content: center;align-items: center;padding: 10px; box-sizing: border-box;}

.cosas > .cositas { width: 50%; padding:20px 24px; box-sizing: border-box;}
		

h3 {color: white;background-color: rgba(0,0,0,0.5);padding: 10px 0 ;=}

.triple {text-align: center;}

.cositas h3 a {color: black;text-decoration: none;background-color: white;padding: 15px;
	          margin-top: 13px;display: inline-block; border-radius: 5px;transition-duration: 1s, 2s; 
	          transition-property: background,padding;}

.cositas h3 a:hover {background: black;padding-right:80%;color: white;}

/*---------------------------------------REPARTO-----------------------------------*/

.fondo-reparto {background-image: url(../img/selva.jpg);background-size: cover;}

.slider {margin-top: 3%; margin-bottom: 3%;}

.pad {padding-top: 10px;}

section .fotelis img { 
	float: left; box-sizing: border-box; 
	border-radius: 10px 10px 0; width: auto; margin: auto;}

 .gente h3 {
	background-color: none;

}

.fotelis h2 {position: absolute;color: #fff; 
	background-color: #000;text-align: center; margin-top: 228px; font-size: 16px;}

.gente {text-align: center;}


/*---------------------------------------SINOPSIS-----------------------------------*/

.fondo-sinopsis {background-image: url(../img/poster.jpg);background-size: cover;}
 
.Sinopsis { background-color: rgba(0,0,0,0.6); margin: 3%;}

.Sinopsis h1 {font-size: 70px;
text-align: center; color: green; }

.Sinopsis p {font-size: 30px; color: white;}

.rated {
text-align: center; 
margin-bottom: 2%;
opacity: 0;
animation-name: rated-r;
animation-delay: 0s;
animation-duration: 1.5s;
animation-iteration-count: infinite; 

}

.rated img {width: 275px; height: 250px; }

/*---------------------------------------CONTACTO-----------------------------------*/

.fondo-contacto {
    background-image: url(../img/selva.jpg);
	background-size: cover;	
}


form {
	background-color: rgba(0,0,0,0.4);

}

label {
	font-size: 30px; 
	color: white;
	margin-left: 40%;
}

input[type=submit] {
    color: black;
	text-align: center;
	text-decoration: none;
	background-color: white;
	padding: 15px;
	margin-top: 13px;
	display: inline-block;
	border-radius: 5px;
	transition-duration: 1s, 2s; 
	transition-property: background,padding;
	box-sizing: border-box;
}

input[type=submit]:hover {
	background: black;
	padding-right:40%;
	padding-left: 40%;
	color: white; 
	text-align: center;
	box-sizing: border-box;
}

.animaciones {overflow: hidden;}

.camara {
	background-image: url(../img/camara.png);
	position: absolute;
	top: 65.5%;
	height: 169px;
	width: 200px;
	overflow: hidden; 
	animation-name: moving;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	/*animation-timing-function: steps(4), linear;*/
	animation-delay: 0s;
}

.yas {background-color: black; padding-top: 20px; display: flex; justify-content: center; flex-direction: row; 
	bottom: 0%; margin-bottom: 0%;}

/*---------------------------------------VIDEOS-----------------------------------*/

.fondo-videos {
    background-image: url(../img/selva.jpg);
	background-size: cover;	
}

.videos {text-align: center; padding-top: 20px;}

/*---------------------------------------GRACIAS-----------------------------------*/

.fondo-gracias {
    background-image: url(../img/selva.jpg);
	background-size: cover;	
	width: 100vw; 
	height:100vh;
	overflow: hidden;
}

.Gracias {text-align: center; padding-top: 100px; }

.Gracias h1 {
	font-size: 30px;
	padding: 20px;
}

.Gracias a {background-color: }


.Gracias a {
	color: black;
	text-align: center;
	text-decoration: none;
	background-color: white;
	padding: 15px;
	margin-top: 13px;
	display: inline-block;
	border-radius: 5px;
	transition-duration: 1s, 2s; 
	transition-property: background,padding;
}

.Gracias a:hover {
	background: black;
	padding-right:83.3%;
	color: white; 
	text-align: center;

}


.ben {
	position: absolute;
	top: 6%;
	width: 6%;
	right: 47%;
	bottom: 1%;
	animation-name: ben;
	animation-duration: 10000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;}


.stay {position: absolute; bottom: 0; left: 0; right: 0;}

.ben img {
	height: 141.5px;
	width: 100px;
}

/*---------------------------------------MEDIA QUERY-----------------------------------*/

/*XL devices*/
@media screen and (min-width: 1201px)  {
	
}

/*Big devices*/
@media screen and (min-width: 991px) and (max-width: 1200px) {
	.cositas h3 a {color: black;text-decoration: none;background-color: white;padding: 15px;
	          margin-top: 13px;display: inline-block; border-radius: 5px;transition-duration: 1s, 2s; 
	          transition-property: background,padding;}

.cositas h3 a:hover {background: black;padding-right:76%;color: white;}

}

/*Medium devices*/
@media screen and (min-width: 600px) and (max-width: 990px) {
	.cositas h3 {display: none;}
.cositas iframe {text-align: center;}
}

/*Small devices*/
@media screen and (min-width: 0px) and (max-width: 599px) {
	.cositas h3 {display: none;}
	.cositas iframe {text-align: center;}
}
	
}


